/*General*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.index {
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.contacto {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/fondo4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.productos {
    background-image: url("../img/fondo8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.promociones {
    background-image: linear-gradient(to bottom, rgb(59, 57, 57), rgb(158, 158, 135));
}

.nosotros {
    background-image: linear-gradient(to right, rgb(36, 34, 34), rgb(224, 224, 182));

}

.dark-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

/*imagen Hero*/
#hero .container {
    height: 80vh;
}

#position {
    position: fixed;
    z-index: 999;
}

.bg-dark {
    background-color: transparent !important;
    height: 8vh;
}

.customFont {
    font-family: 'Vujahday Script', cursive;
}

.hero__title-text {
    font-size: 10rem !important;
    color: rgb(124, 200, 206);
}

.hero__title-subtext {
    font-size: 2.5rem !important;
    color: rgb(124, 200, 206);
}

.mainIndex {
    margin-left: 100px;
    margin-right: 100px;
}


/*Nosotros*/
.mainArticle {
    margin: 20px;
    margin-right: 20px;

}

.historiaArticle {
    margin: 5px 5px 5px 5px;

}

.textoHistoria,
.textoArticle {
    text-align: justify;


}

.historiaArticle .imgArticle {
    display: flex;
    flex-flow: row;
}

.imgArticle {
    height: 20%;
    width: 230px;
    margin-right: 20px;
    animation-name: aparecer;
    animation-iteration-count: 1;
    animation-duration: 4s;
}

.doImg {
    animation-name: desaparecer;
    animation-iteration-count: 1;
    animation-duration: 4s;
}

@keyframes aparecer {
    from {
        opacity: 0;
    }

    15%,
    45% {
        opacity: .15;
    }

    25%,
    75% {
        opacity: .35;
    }

    to {
        opacity: 50;
    }
}

@keyframes desaparecer {
    from {
        opacity: 100;
    }

    15%,
    45% {
        opacity: .35;
    }

    25%,
    75% {
        opacity: .15;
    }

    to {
        opacity: 50;
    }
}

.doImg {

    height: 20%;
    width: 230px;
    margin-right: 20px;
}

.sectionNosotros {
    margin-top: 40px;
}

.historiaArticle .doImg {
    float: left;
    margin: 5px 10px 5px 5px;
}

/*Productos*/

.imgProductos {
    height: 70%;
    width: 70%;
}

.imgSalamines:hover,
.imgQuesos:hover,
.imgDulce:hover,
.imgPicada:hover,
.imgChocolates:hover,
.imgMiel:hover {
    transform: scale(1.5);
}

/*Promociones*/


/*Contacto*/
.principalContacto {
    display: flex;
    flex-direction: wrap;
}

.formulario {
    margin: 30px;
}

/*Footer
footer{
    background-color: #3f51b5"
}*/
.listaFooter {
    list-style: none;
}

@media screen and (min-width: 600px) {

    .nosotros {
        background-image: linear-gradient(to right, rgb(36, 34, 34), rgb(224, 224, 182));

    }

    .tituloNav {
        margin: 5px;
    }

    .historiaArticle {
        display: flex;
        flex-direction: row;
    }

    .sectionNosotros {
        display: flex;
        flex-direction: row;
    }

    .mainArticle {
        text-align: justify;
    }

}