/*General*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.index {
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}*/

/* Variable*/
$color1 :rgb(124, 200, 206);

/*maps*/
$colorBtn: (color1: rgba(2, 121, 233, 0.918),
    color2: rgb(7, 163, 54),
);

@each $btn,
$color in $colorBtn {
    .btn-#{$btn} {
        background-color: $color;
    }
}

/*mixin*/
@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}

.imgArticle {
    @include sizes(250px, 200px);
}

.doImg {
    @include sizes (300px, 250px)
}

/*Extend*/
.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.contacto {
    @extend .bgimg;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/fondo4.jpg");
}

.productos {
    @extend .bgimg;
    background-image: url("../img/fondo8.jpg");
}

.promociones {
    background-image: linear-gradient(to bottom, rgb(59, 57, 57), rgb(158, 158, 135));
}

.nosotros {
    background-image: linear-gradient(to right, rgb(36, 34, 34), rgb(224, 224, 182));

}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 80vh;

    .navbar {
        background-color: transparent !important;
        height: 8vh;
    }
}

#position {
    position: fixed;
    z-index: 999;
}

.container {
    height: 80vh;

    .hero__title-text {
        font-size: 7rem !important;
        color: $color1;
    }

    .hero__title-subtext {
        font-size: 2.5rem !important;
        color: $color1;
    }
}

.customFont {
    font-family: 'Vujahday Script', cursive;
}



.mainIndex {
    margin-left: 20px;
    margin-right: 20px;

    .tituloIndex {
        margin: 8px;
        padding: 15;
        text-align: center;
        animation-name: colores;
        animation-duration: 10s;
    }

    .carousel-item {
        height: auto;

    }

    img {
        width: 50%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


@keyframes colores {
    from {
        background-color: rgb(167, 18, 197);
    }

    to {
        background-color: $color1;
    }
}


/*Nosotros*/
.mainArticle {
    margin: 20px;
    margin-right: 20px;

    .tituloNosotros {
        text-align: center;
    }

    .historiaArticle {
        display: flex;
        flex-flow: row;

        .imgArticle {
            animation-name: aparecer;
            animation-iteration-count: 1;
            animation-duration: 4s;
        }

        .textoHistoria,
        .textoArticle {
            text-align: justify;
        }
    }

    .sectionNosotros {
        margin-top: 40px;

        .doImg {
            animation-name: desaparecer;
            animation-iteration-count: 1;
            animation-duration: 4s;
        }
    }
}

@keyframes aparecer {
    from {
        opacity: 0;
    }

    15%,
    45% {
        opacity: .15;
    }

    25%,
    75% {
        opacity: .35;
    }

    to {
        opacity: 50;
    }
}

@keyframes desaparecer {
    from {
        opacity: 100;
    }

    15%,
    45% {
        opacity: .35;
    }

    25%,
    75% {
        opacity: .15;
    }

    to {
        opacity: 50;
    }
}

/*Productos*/

.imgProductos {
    height: 70%;
    width: 70%;
}

.imgSalamines:hover,
.imgQuesos:hover,
.imgDulce:hover,
.imgPicada:hover,
.imgChocolates:hover,
.imgMiel:hover {
    transform: scale(1.5);
}



/*Contacto*/
.containerContacto {
    height: 100vh;

    .principalContacto {
        display: flex;
        flex-direction: wrap;

        .contactoDiv {
            margin: 30px;
        }

        form {
            font-size: 25px;

            .btn-primary:hover {
                background-color: rgb(131, 4, 170);
            }
        }
    }
}

/*Footer*/
footer {
    background-color: rgba(3, 2, 2, 0.2) !important;

    .listaFooter {
        list-style: none;
    }
}


@media screen and (min-width: 600px) {
    .hero__title-text {
        font-size: 10rem !important;
        color: rgb(124, 200, 206);
    }

    .nosotros {
        background-image: linear-gradient(to right, rgb(36, 34, 34), rgb(224, 224, 182));

    }

    .tituloNav {
        margin: 5px;
    }

    .historiaArticle {
        display: flex;
        flex-direction: row;
    }

    .sectionNosotros {
        display: flex;
        flex-direction: row;
    }

    .mainArticle {
        text-align: justify;
    }

    .carousel-inner img {
        width: 100%;
        height: 560px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mainIndex {
        margin-left: 100px;
        margin-right: 100px;
    }

    .tituloIndex {
        margin: 15px;
        padding: 30px;
        text-align: center;
        animation-name: colores;
        animation-duration: 10s;
    }

    table {
        padding-left: 50px;
        padding-right: 50px;
    }
}